Olá,<strong> {{student}}</strong>, bem vindo a Gympoint !
<p>Houve cadastramento da matricula conforme abaixo <br/>

  <strong>Inscrição nº </strong> {{ idEnrollment}} <br/>
  <strong>Plano: </strong> {{ namePlan }} <br/>
  <strong>Data de Término: </strong> {{ endEnrollment }} <br/>
  <strong>Valor: </strong> {{ priceEnrollment }} <br/>

  <small>
    Estamos a disposição para qualquer dúvida
  </small>
</p>
